body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  width: 483px;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #2f4099;
  font-size: 70px;
  line-height: 75px;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

a {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #ed3e84;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.content {
  display: block;
  max-width: 1164px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 80px 10px;
}

.content.menu-content {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.header {
  display: block;
  max-width: 1164px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar {
  padding-right: 80px;
  padding-left: 80px;
  background-color: transparent;
}

.logo {
  position: relative;
  z-index: 2;
  height: 75px;
  padding-top: 2.5px;
  float: left;
  color: #f36ea9;
  font-size: 26px;
  line-height: 70px;
  font-weight: 700;
}

.logo:hover {
  color: #000;
}

.logo.w--current {
  color: #ed3e84;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}

.menu-button-container {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-top: 12.5px;
  float: right;
}

.column {
  padding-right: 15px;
  padding-left: 0px;
}

.column2 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.project {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.iage {
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .8);
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  color: #7a7a7a;
  font-weight: 400;
  text-align: center;
}

.overlay:hover {
  background-color: hsla(0, 0%, 100%, .8);
  opacity: 1;
}

.heading {
  position: relative;
  top: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.colour {
  color: #000;
  text-transform: capitalize;
}

.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: block;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .98);
  opacity: 1;
}

.nav-link {
  height: 75px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  color: #000;
  line-height: 75px;
  text-decoration: none;
}

.nav-link:hover {
  color: #2f4099;
}

.nav-link.w--current {
  color: #000;
}

.nav-link.footer {
  float: right;
}

.nav-menu {
  display: block;
  float: right;
  opacity: 0;
}

.lightbox {
  margin-bottom: 30px;
}

.logo-image {
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}

.logo-text {
  float: left;
  color: #2f4099;
}

.submit {
  width: 110px;
  height: 45px;
  padding-top: 12px;
  border-radius: 10px;
  background-color: #2f4099;
  box-shadow: 1px 1px 3px 0 rgba(31, 31, 31, .47);
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #fff;
  text-align: center;
}

.submit:hover {
  background-color: #000;
  color: #fff;
}

.text-field {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #f36ea9;
}

.text-field:focus {
  border-bottom: 1px solid #f36ea9;
}

.text-field.message {
  min-height: 100px;
}

.footer-paragraph {
  height: 75px;
  line-height: 65px;
  text-align: right;
}

.column-3 {
  padding-right: 0px;
  padding-left: 15px;
}

.heading-2 {
  color: #2f4099;
}

.pictures {
  margin-top: 0px;
  margin-bottom: 70px;
  opacity: 0.9;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.pictures.members {
  margin-top: 70px;
}

.pictures.contact {
  margin-top: 70px;
}

.copyright-text {
  margin-top: 30px;
  font-size: 10px;
  text-align: center;
}

.paragraph.members {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  h1 {
    width: auto;
  }
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .column {
    padding-right: 10px;
  }
  .column2 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .column-3 {
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 63px;
    line-height: 68px;
  }
  .content {
    padding-left: 60px;
  }
  .column {
    padding-right: 0px;
  }
  .column-3 {
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .content {
    padding: 30px;
  }
  .heading {
    font-size: 20px;
  }
}